.main{
	width: 1100px;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}
ul ,li{list-style-type: none;}
input{cursor: pointer;}
.title{
	height: 30px;
	line-height: 30px;
	font-family: '微软雅黑';
}
.cart_step{
	width: 482px;
	overflow: hidden;
	float: right;
	padding-top: 6px;
}
.cart_step li{
	color: #AAAAAA;
	float: left;
	height: 23px;
	line-height: 23px;
	text-align: center;
	width: 160px;
}
.cart_step .step1{
	background: url(../images/step1.png) no-repeat;
}
.cart_step .step2{
	background: url(../images/step2.png) no-repeat;
}
.cart_step .step3{
	background: url(../images/step3.png) no-repeat;
}
.cart_step .step1, .cart_step .step2, .cart_step .step3{
	height: 23px;
	overflow: hidden;
	padding-top: 23px;
	width: 482px;
}
.cart_hd{
	height: 36px;
}
.cart_hd h2{
	width: 100px;
	height: 36px;
	float: left;
	font-size: 20px;
	line-height: 36px;
	margin: 0 5px;
}
.cart_hd span{
	font-size: 14px; 
	line-height: 40px;
}
.cart_content{
	border: 1px solid #ddd;
	border-top: 2px solid #999;
}
.cart_content th{
	background: #f7f7f7;
	height: 40px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	color: #666;
	font-weight: normal;
}
.shop_info{
	position: relative;
	line-height: 38px;
	padding-left: 6px;
	padding-top: 10px;
}
.cart table{
	border-top: 1px solid #ccc;
	padding: 10px 0px;
	background: #fdfcf7;
	border-bottom: 1px solid #eeecec; 
}
.cart_span{
	border: 1px solid #ddd;
	display: block;
	width: 60px;
	height: 60px;
}
.cart_productPrice{
	font-weight: bold;
	color: #e7464b;
}
#cart_productnum{
	width: 30px;
	text-align: center;
	background: #fff;
	border: 1px solid #ddd;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
}
.cart .sub, .cart .add{
	display: inline-block;
    font-size: 14px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
}
#cart_del{
	background: url(../images/delico.jpg) no-repeat left;
	border: 0;
	color: #015697;
	padding-left: 12px;
}
.cart_buy{
	padding: 10px 5px;
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #F0F0F0; 
}
.clear_buycart{
	background: url(../images/amptyback.jpg) no-repeat;
	float: left;
	padding-left: 15px;
	width: 115px;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
.clear_buycart a{
	color: #999;
}
.cart_buycartsub{
	float: right;
	height: 36px;
	width: 135px;
	margin-right: 20px;
}
.cart_buycartsub input{
	width: inherit;
	height: inherit;
	background-color: #CC0033;
	border: 1px solid #FF9999;
	border-radius: 3px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	font-size: 20px;
	color: #FFF;
}
.cart_price{
	display: block;
	margin-right: 20px;
	padding: 10px 0;
	font-weight: bold;
}
.cart_price span{
	font-size: 24px;
	font-weight: normal;
	color: #e01218;
}
